@page
@model FoodDelivery.FrontEnd.Pages.Admin.FoodCategories.IndexModel
@{
    if(Model.Message != null)
    {
        <h1>@Model.Message</h1>

    }
    else
    {
       <h3>Food categories:</h3>
<a class="btn btn-primary" asp-page="/Admin/Index">Back</a>
<a class="btn btn-success" asp-page="/Admin/FoodCategories/Add">Add new category</a>
<table class="table">
  <thead class="thead-dark">
     <tr>
        <th scope="col">#</th>
        <th scope="col">Category Name</th>
        <th scope="col">Category Description</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
     </tr>
  </thead>
  @{
    int i = 1;
    if(Model.Categories != null){
    foreach(var item in Model.Categories){
        
        
                            <tbody>
                          <tr>
                          
                            <th scope="row">@i</th>
                            <td>@item.CategoryName</td>
                            <td>@item.CategoryDescription</td>
                            <td style="border: 1px solid yellow; background-color:lightgoldenrodyellow">
                            <a asp-page="/Admin/FoodCategories/Update" asp-route-name="@item.CategoryName" style="text-decoration:none; color:green;">
                              Update</a></td>
                            <td style="border:1px solid red; background-color:palevioletred">
                            <a asp-page="/Admin/FoodCategories/Delete" asp-route-name="@item.CategoryName" style="text-decoration:none; color:black;">
                            Delete</a></td>
                          </tr>
                            </tbody>
        i += 1;
    }
   }
}
</table> 
    }
}
