@page
@model FoodDelivery.FrontEnd.Pages.Admin.Dishes.AddModel
@{
}
<h3>Add new dish:</h3>
<br />

<a class="btn btn-primary" asp-page="/Admin/Dishes/Index">Back</a>
<br />
<br />

<form method="post">
  <div class="form-group">
    <label for="DishName">Dish name</label>
    <input type="text" class="form-control" id="DishName" name="DishName" placeholder="Enter dish name" required >
  </div>
  <div class="form-group">
    <label for="DishDescription">Dish description</label>
    <input type="text" class="form-control" id="DishDescription" name="DishDescription" placeholder="Enter description" required>
  </div><br />
  <div class="form-group">
    <label for="RestaurantId">Restaurant</label>
    <select name="RestaurantId">
            @{
                if(Model.Restaurants != null)
                {
                    @foreach(var item in Model.Restaurants)
                    {
                        <option value="@item.RestaurantId">ID: @item.RestaurantId - name: @item.RestaurantName</option>
                    }
                }
                else
                {
                    <option value="null">NULL</option>
                }
            }
    </select>
  </div><br />
  <div class="form-group">
    <label for="Price">Price</label>
    <input type="number" step="0.01" value="0.00" class="form-control" id="Price" name="Price" placeholder="0,00" required>
  </div>
  <br />
   <div class="form-group">
    <label for="Require18">Require 18?</label>
    <input type="checkbox" id="Require18" name="Require18" value="true">
  </div>
  <br />
  <input type="submit" value="Submit"  class="btn btn-success" asp-page-handler="Submit">
</form>
@{
    if(@Model.Message != null)
    {
    <p style="color:red">@Model.Message</p>
    }
}