@page
@model FoodDelivery.FrontEnd.Pages.Admin.Dishes.IndexModel
@{
}
<h3>Dishes:</h3>
<a class="btn btn-primary" asp-page="/Admin/Index">Back</a>
<a class="btn btn-success" asp-page="/Admin/Dishes/Add">Add new dish</a>
<table class="table">
  <thead class="thead-dark">
     <tr>
        <th scope="col">#</th>
        <th scope="col">Dish ID</th>
        <th scope="col">Dish name</th>
        <th scope="col">Dish description</th>
        <th scope="col">Restaurant ID</th>
        <th scope="col">Price</th>
        <th scope="col">Require 18?</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
     </tr>
  </thead>
  @{
    int i = 1;
    if(Model.Dishes != null){
    foreach(var item in Model.Dishes){
      <tbody>
        <tr>
           <th scope="row">@i</th>
           <td>@item.DishId</td>
           <td>@item.DishName</td>
           <td>@item.DishDescription</td>
           <td>@item.RestaurantId</td>
           <td>@item.Price</td>
           <td>@item.Require18</td>
           <td style="border: 1px solid yellow; background-color:lightgoldenrodyellow">
           <a asp-page="/Admin/Dishes/Update" asp-route-id="@item.DishId" asp-route-name="@item.DishName" asp-route-desc="@item.DishDescription" asp-route-restaurant="@item.RestaurantId" asp-route-price="@item.Price" asp-route-require="@item.Require18" style="text-decoration:none; color:green;">
           Update</a></td>
           <td style="border:1px solid red; background-color:palevioletred">
           <a asp-page="/Admin/Dishes/Delete" asp-route-id="@item.DishId" style="text-decoration:none; color:black;">
            Delete</a></td>
           </tr>
           </tbody>
        i += 1;
    }
   }
}
</table>