@page
@using Microsoft.AspNetCore.Components.Web
@model FoodDelivery.FrontEnd.Pages.Restaurants.IndexModel
@{
    ViewData["Title"] = "Restaurants";
    ViewData["LoginService"] = "Login";
    if(@Model.Message != null)
    {
        <h1 style="color:red">@Model.Message</h1>
    }
    else
    {
        <h3>Restaurants</h3>

<table class="table">
  <thead class="thead-dark">
     <tr>
        <th scope="col">#</th>
        <th scope="col">Restaurant name</th>
        <th scope="col">Food category</th>
        <th scope="col">Description</th>
     </tr>
  </thead>
@{
    int i = 1;
    if(Model.Restaurants != null){
    foreach(var item in Model.Restaurants){
        
        
                    <tbody>
                  <tr>
                  
                    <th scope="row">@i</th>
                    <td>
                    <a asp-page="/Restaurants/View" asp-route-id="@item.RestaurantId" style="text-decoration:none; color:black;">
                    @item.RestaurantName</a>
                    </td>
                    <td>@item.CategoryName</td>
                    <td>@item.CategoryNameNavigation.CategoryDescription</td>
                  </tr>
                    </tbody>
            i += 1;
        }
       }
    }
    </table>
    }
}
