@page
@model FoodDelivery.FrontEnd.Pages.Admin.Accounts.MoreinfoModel
@{
    if(Model.Message != null)
    {
        <h1 style="color:red">@Model.Message</h1>
    }
    else
    {
        <h1>More info:</h1>
        <a class="btn btn-primary" asp-page="/Admin/Accounts/Index">Back</a>
        <br /><br />
        <h3>Account information:</h3>
        <p>Account ID: @Model.OneAccount.Id</p>
        <p>Username: @Model.OneAccount.EmailAddress</p>
        <p>Tel: @Model.OneAccount.TelNumber</p>
        <p>ID user: @Model.OneAccount.IdUsers</p>
        <p>ID Restaurant: @Model.OneAccount.RestaurantId</p>
        <br /><br />
        





















    }
}
